#search_box { width: 100%; margin: 10px auto; display: flex; align-items: center; justify-content: center; }
#search { width: 60%; border: orange solid 1px; display:inline-flex; }
#search_text { width: 90%; height: 40px; border: none; }
.xi-search { width: 10%; height: 40px;}

.slider-container { border: solid 1px red; display : flex; }
.slider-img { width: 100%; }

#btns { display: flex; position: absolute;  border : solid 1px red; flex: auto; }

#btns > * { flex: auto; color: silver; }

#btns > section { margin : 0 calc(10%); }

#num_btns { text-align: center;  }