.box { margin:10px auto; display: flex; align-items: center; justify-content: center; width: 100%; }
.box > label { display:flex; align-items: center; font-size: 1.2rem; height: 41px; width: 100px; }
.box > input { height: 37px;  margin-left: 3%; margin-right: 1%; text-align: center; width: 245px; }
.box > button { width: 120px; height: 41px;}

#CheckForDuplicateId { border: 1px solid; }
