<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AccountMapper">

<resultMap id="accountMap" type="account.AccountDto">
	<result property="no" column="no" />
	<result property="id" column="id" />
	<result property="accountPw" column="accountPw" />
	<result property="name" column="name" />
	<result property="nick_name" column="nick_name" />
	<result property="email" column="email" />
	<result property="mobile" column="mobile" />
	<result property="address" column="address" />
	<result property="birthday" column="birthday" />
	<result property="grant" column="grant" />
	<result property="regDt" column="regDt" />
	<result property="modDt" column="modDt" />
</resultMap>

<select id="searchId"  parameterType="account.AccountDto" resultMap="accountMap">
	SELECT * FROM Account WHERE id=#{id};
</select>



<insert id="regist" parameterType="account.AccountDto"  useGeneratedKeys="true" keyProperty="no">
	INSERT INTO Account(id, accountPw, name, nickName, email, mobile, address, birthday )
	VALUES(#{id}, #{accountPw}, #{name}, #{nick_name}, #{email}, #{mobile}, #{address}, #{birthday});
</insert>

<delete id="delete" parameterType="account.AccountDto">
	DELETE FROM Account WHERE id=#{id};
</delete>

<update id="update" parameterType="account.AccountDto">
	UPDATE Account SET accountPw=#{accountPw}, email=#{email}, mobile=#{mobile}, modDt=now();
</update>

</mapper>